<?xml version="1.0" encoding="UTF-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/hibernate-configuration">
    <session-factory>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost/Articles?createDatabaseIfNotExist=true
        </property>
        <property name="hibernate.connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQLDialect
        </property>
        <property name="show_sql">true</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="ir.maktab32.java.homeworks.hw8.articles.entities.Article"/>
        <mapping class="ir.maktab32.java.homeworks.hw8.articles.entities.Category"/>
        <mapping class="ir.maktab32.java.homeworks.hw8.articles.entities.User"/>
    </session-factory>
</hibernate-configuration>